<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RRB</title>

    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/main.min.css")

    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/libraries/bootstrap-grid.min.css")
    @Styles.Render("~/Content/libraries/hamburgers.css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="stick-none @ViewBag.pageName">
    <header class="mobile-menu-collapsed stick-none">
        <nav>
            <div class="menu-items row align-items-center justify-content-center">
                <a href="/" class="logo-link">
                    <img src="~/images/rrblogo.png" class="website-logo" />
                </a>

                <ul class="menu-nav">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/Home/About">About</a></li>
                    <li class="nav-item active"><a href="/Home/Contact">Contact</a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            <button class="hamburger hamburger--spin js-hamburger d-none" type="button" id="toggleMenu">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </nav>
    </header>
    <div class="body-content main">
        @*<h3 class="mt-5 pt-5">@ViewBag.pageName</h3>*@

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/customLibraries/jquery-ui.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/custom/menu.js")
    @RenderSection("Scripts/custom", required: false)
</body>
KURKURKUR
</html>
