<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RRB</title>
    <!-- TODO: ASK HRISTIYAN WHAT IS THIS LINE AND WHAT IS DOING, do we need this or its uselss -->
    @Styles.Render("~/Content/css")

    @Styles.Render("~/Content/main.min.css")

    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/libraries/bootstrap-grid.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav>
        <div class="row align-items-center justify-content-center">
            <img src="images/rrblogo.png" class="website-logo" />

            <ul class="menu-nav">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav-item active">@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
